/* search bar */
#wrapper{
    width: auto;
    max-width: 100%;
    position: relative;
    
}
#wrapper input{
    width: 100%;
}
#wrapper button{
    aspect-ratio: 1;
    position: absolute;
    right: 0;
}

.social-media{
    bottom: 18px;
    left: 20px;
}
.follow{
    bottom: 18px;
    right: 20px;
}
#ulForChannel a{
    color: gray !important;
}