@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'),
        url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
        url(../fonts/JF-Flat-regular.woff) format('woff'),
        url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}


.custom-navbar {
    border-bottom: 3px solid #eef0ea;
    width: 100%;
    background-color: #FFF;
    padding: 15px 0;
}

.custom-navbar .btn-icon {
    margin: 0 10px;
}

.dropdown a.categories {
    border-right: 0 !important;
    border-radius: 0;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #EBEBEB;
    color: #777;
}

.search-btn {
    background-color: #ff3956;
    border-color: #ff3956;
    color: #fff;
    padding: 5px 15px 7px;
    height: 38px;
    width: 65px;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover {
    background-color: #C2101E;
    border-color: #C2101E;
    color: #fff;
}

.custom-form-control,
.dropdown a.custom-btn {
    border: 1px solid #ebebeb;
    border-radius: 2px;
    box-shadow: none;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px;
    transition: all .3s ease;
}

.dropdown a.custom-btn:hover {
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #ff3956;
}

.nav-link {
    color: #555555;
    font-size: 14px;
    padding: 15px;
}

.custom-navbar .navbar-nav li.active a.nav-link {
    color: #ff3956;
    font-weight: 700;
    border-bottom: 1px solid #ff3956;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link {
    background-color: #e7e7e7;
}

.custom-dropdown-menu li a:hover {
    background-color: #FFE7EA;
}

.custom-navbar .btn-icon {
    padding: 5px 10px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    margin-right: 15px;
}

/* slide show */

#carousel-featured {
    background: #F7F8F3;
    height: 400px;
    padding: 25px 15px 0;
}

#carousel-featured .carousel-item img {
    height: 375px;
}

#carousel-featured .carousel-item .product-details {
    height: 200px;
    padding: 20px;
    border: 1px solid #dddddb;
    top: 50px;
    position: relative;
    background-color: #f7f8f3;
}

#carousel-featured .carousel-item .product-category {
    position: absolute;
    padding: 10px;
    background-color: #f7f8f3;
    top: -10px;
    right: -10px;
    border: 1px solid #dddddb;
    color: #a9a9a9;
}

#carousel-featured .carousel-item h1 {
    font-size: 175%;
    font-weight: 700;
    margin-top: 18px;
}

#carousel-featured .carousel-item .custom-btn-outline-warning {
    color: #f8ad47;
    border: 1px solid #f8ad47;
}

#carousel-featured .carousel-item #custom-price {
    position: absolute;
    left: -10px;
    bottom: -10px;
    border: 1px solid #dddddb;
    color: #a9a9a9;
    padding: 10px;
    background-color: #f7f8f3;
    font-size: 18px;
}

.custom-btn-outline-warning:active,
.custom-btn-outline-warning:active:focus,
.custom-btn-outline-warning:active:hover,
.custom-btn-outline-warning:focus,
.custom-btn-outline-warning:hover {
    background-color: transparent;
    border-color: #b86d07 !important;
    color: #b86d07 !important;
}

.sale {
    background: #53CCD7;
    color: white !important;
    position: absolute;
    font-weight: bold;
}

.sale.large {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: -15px;
    ;
    left: -15px;
    padding: 35px;
    font-size: 130%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: rotate(-25deg);
}

#carousel-featured .custom-carousel-indicators-primary {
    border: 2px solid #dddddb !important;
    height: 70px !important;
    margin: 0 0 0 5px !important;
    opacity: 1 !important;
    width: 70px !important;
}


#carousel-featured .active.custom-carousel-indicators-primary {
    border: 2px solid #f8ad47;
}

.custom-carousel-indicators {
    right: 41%;
    top: 235px;
}

#carousel-featured .carousel-control-prev .fa-chevron-right,
#carousel-featured .carousel-control-next .fa-chevron-left {
    color: #868686;
    font-size: 38px;
}

/* store features */

#store-features {
    box-shadow: 0 0 15px #EEF0EA;
    top: -30px;
    position: relative;
    background-color: #fff;
    padding: 25px 0 35px;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-position: -10px -20px;
    background-size: auto 60%;
}

#store-features .feature>img {
    height: 40px;
    margin-bottom: 10px;
}

#store-features .feature+.feature {
    border-right: 1px solid #EEF0EA;
}

/* most sold */

.heading {
    font-size: 24px;
    margin-bottom: 25px;
}

.custom-thumbnail {
    border: 2px solid #eef0ea;
    cursor: pointer;
    margin-bottom: 50px;
    padding: 8px;
}

.custom-thumbnail img {
    max-height: 250px;
    max-width: 250px;
    width: 100%;
}

.custom-thumbnail h4 {
    font-size: 18px;
}

.price {
    color: #53CCD7;
}

.rating {
    color: #C2C2C2;
}

.rating .active {
    color: #f3af41;
}

.overlay {
    align-items: center;
    background-color: rgba(83, 204, 215, .5);
    display: flex;
    height: 250px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all .3s ease;
    width: calc(100% - 16px);
}

.overlay:hover {
    opacity: 1;
}

.add-to-cart-btn {
    background-color: #fff;
    color: #53ccd7;
    font-weight: 700;
}

.custom-thumbnail .sale {
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
}

.custom-thumbnail .sale::before {
    content: "-";
}

.custom-carousel-indicators2 {
    bottom: -20px !important;
    list-style: none;
}

.custom-carousel-indicators2>li {
    width: 13px !important;
    height: 13px !important;
    margin: 2px !important;
    background-color: #dbdbdb !important;

}

.custom-carousel-indicators2>li.active {
    background-color: #565656 !important;
}

/* brand section */
.custom-btn-outline-warning {
    background-color: transparent;
    border-color: #f8ad47;
    color: #f8ad47;
}

.panel {
    border: 4px solid #EEF0EA;
    border-radius: 2px;
    padding: 20px;
}

.panel h4,
.panel .price {
    font-size: 130%;
    margin-bottom: 15px;
    margin-top: 0;
}

.custom-text-muted {
    color: #A9A9A9;
}

.arrow-btn {
    background-color: #fff;
    color: #868686;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
}

#row-brands h3.heading {
    border-top: 1px solid #EEF0EA;
    padding-top: 25px;
}

#brand-logos {
    background-color: #dbeefa;
    padding: 25px 0;
    color: #555555;
}

#brand-logos img {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    max-height: 100px;
}

#footer-nav {
    background-color: #1f1e1e;
    padding: 50px 0 40px;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
}

.footer-nav-links {
    margin: 30px 0;
}

.footer-nav-links a {
    color: #555555;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none !important;
}

.newsletter {
    border-top: 1px solid #292929;
}

.newsletter form {
    max-width: 260px;
}

.newsletter form label {
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
}

.newsletter form input {
    background-color: #313131;
    opacity: .6;
    border: none;
    height: 38px;
}



.newsletter form button {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    padding: 6px 12px 5px;
    color: inherit;
    height: 38px;
}

input[type="email"] {
    text-align: right;
}


#footer-copyright-social {
    background-color: #151515;
    color: #303030;
    padding: 30px 0;
    font-weight: 700;
}

#footer-copyright-social a {
    color: #303030;
    margin: 0 5px;
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.custom-btn-warning {
    background-color: rgb(248, 173, 71);
    color: rgb(0, 0, 0);
    border-color: rgb(248, 173, 71);
}



@media (max-width: 1199.98px) {
    .custom-navbar .navbar-nav li.active a.nav-link {
        padding: 7px;
    }

    .custom-navbar .navbar-nav li a.nav-link {
        padding: 10px 0;
    }

    .navbar-collapse {
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }

    #carousel-featured .carousel-indicators {
        margin-right: 12%;
    }
}

@media (max-width: 991.98px) {
    .custom-navbar {
        padding: 15px 30px 30px;
    }

    .custom-navbar .container {
        max-width: 100%;
    }

    #carousel-featured .carousel-item #custom-price {
        bottom: -10px;
        right: -10px;
        left: auto !important;
    }

    #carousel-featured .carousel-indicators {
        margin-right: 4%;
    }

    .overlay {
        display: none;
    }

    .add-to-cart-btn {
        color: #868686;
        border-color: #868686;
        margin-top: 8px;
        font-weight: 400;
    }

    #row-brands .carousel-inner img {
        height: auto !important;
        width: 200px !important;
    }

    #copyright,
    #social-icons {
        text-align: center;
        width: 100%;
    }

    #social-icons {
        font-size: 150%;
        margin-top: 10px;
    }

    #footer-nav form {
        max-width: 100%;
        padding: 0 20px;
        width: 100%;
    }


}

@media (max-width: 767.98px) {
    .navbar-header {
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }

    .navbar-header .btn-icon {
        float: left;
    }

    .inline-form {
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        padding: 10px 0;
        width: 100%;
    }

    .inline-form .dropdown {
        display: none;
    }

    .inline-form .custom-form-control {
        width: 90%;
    }

    .inline-form .search-btn {
        width: 10%;
    }

    #carousel-featured .product-details {
        text-align: center;
        top: -2px !important;
    }

    #carousel-featured,
    #carousel-featured .product-details {
        height: auto;
    }

    #carousel-featured .carousel-item #custom-price {
        bottom: auto !important;
        left: auto !important;
        right: 45%;
        top: -20px;
    }

    .custom-thumbnail img {
        height: 250px !important;
        margin: auto;
    }

    #brand-logos img {
        margin: 5px 24px 5px 23px;
        max-height: 50px;
        max-width: 50px;
    }

    #footer-nav .footer-logo {
        margin-bottom: 30px;
    }
    #brand-logos img {
        margin: 5px 24px 5px 23px;
        max-height: 50px;
        max-width: 50px;
    }
}

@media (max-width: 575.98px) {
    .inline-form .custom-form-control {
        width: 80% !important;
    }

    .inline-form .search-btn {
        width: 20% !important;
    }
}