@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri');

/*my color palette
#F2EFE5 #BDBAB1  #8B887F  #5B5951  #302E26
*/
:root{
    --main-font :  "Hammersmith One", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

/*Header   ***************************************************************/

body {
    width: 100%;
    background: #F2EFE5;
}

#header {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #302E26;
    margin: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#branding h1 {
    display: inline-block;
    color: #8B887F;
}

#branding h1:first-child {
    color: #BDBAB1;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

nav ul li {
    display: inline-block;
    margin: 10px 5px;
}

nav ul li a {
    color: rgb(242, 239, 229);
    text-decoration: none;
    padding: 5px 13px;
    border-radius: 15px;
}

nav ul li a:hover {
    color: #8B887F;
    background-color: #F2EFE5;
    box-shadow: 0px 0px 42px #F2EFE5;
}

/*Showcase   ****************************************************************/
.empty-box {
    width: calc(100% - 40px);
    /* Adjust width as needed */
    height: 600px;
    /* Adjust height as needed */
    border: 8px solid #302E26;
    /* Customize border style, color, and thickness */
    margin: 0 auto;
    /* Centers the box horizontally */
    border-radius: 15px;
    padding: 20px;
    background-image: url("../img/img1.jpg");
    /* Replace with your image path */
    background-size: cover;
    /* Stretch image to cover the entire box */
    background-position: center center;
}

#showcase h1,
#showcase h2,
#showcase span,
#showcase a {
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
    align-items: center;
    text-shadow: 2px 2px 2px #302E26;
}

#showcase h1,
#showcase h2 {
    font-size: 75px;
}

#showcase span {
    font-size: 25px;
}

#showcase .empty-box {
    display: flex;
    /* Inherit from parent or explicitly set */
    flex-direction: column;
    /* Inherit from parent or explicitly set */
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
}

.wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 25px;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #F2EFE5;
}

/*newsltter     ***************************************************************/


#newsletter , #boxes {
    background-color: #302E26;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
}

#newsflex > h1 {
    color: #BDBAB1;
}

#newsflex > form {
    width: 500px;
}
form >button[type="submit"]{
    color: #302E26;
    font-weight: bold; 
    background-color: #F2EFE5;
    border-radius: 10% ;
}
form >input[type="email"]{
    font-weight: bold;
    font-family: var(--main-font);
    border:3px solid silver;
    border-radius: 50px;
    height: 25px;
    width: 50%;
    border-top: 1px solid rgba(192, 192, 192, 0.658);
    border-left: 5px;
    background-color:rgba(192, 192, 192, 0.349);
    margin: auto;
    text-align: center;
}
form > button[type="submit"]{
    width: 30%;
    height: 25px;
    background-color: #F2EFE5;
    text-transform: uppercase;
    color: #302E26;
    font-family: MadimiOne-Regular,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

#newsflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
/*boxes   ***************************************************************/

#boxes{
    display: flex;
    text-align: center;
    color: #F2EFE5;
    padding: 25px 40px 25px 40px;
}
.box{
    padding: 30px;
}
.box >*{
    margin: 15px;
}
@media (max-width: 1020px){
    #boxes{
        flex-direction: column;
    }
}
/*footer    *************************************************************************/

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #302E26;
    background-color: #8B887F;

}

.waveBottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #302E26;
}

.waveBottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 44px;
}

.waveBottom .shape-fill {
    fill: #8B887F;
}
#footerText{
    width: 100%;
    margin: 30px;
    display: flex;
    text-align: center;
}
