@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cairo', sans-serif;
}

header.header {
    background-image: url(../images/bg-3.png);
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}
header.header .container{
    max-width: 1100px;
}
header.header .overlay{
    background-color: rgba(239, 71, 58, 0.8);
    padding-top: 90px;
    position: relative;
}
header.header .overlay .header-text{
    margin-top: 110px;
}
header.header .overlay .header-text h5{
    color: white;
    font-size: 30px;
    line-height: 38px;
    margin: 60px auto;
}
header.header .overlay .header-text p{
    font-size: 18px;
    color: white;
    line-height: 33px;
    margin-bottom: 85px;
}
header.header .overlay .header-button img{
    width: 250px;
    height: 80px !important;
    margin-bottom: 120px;
}
header.header .overlay .header-img img {
    max-width: 100%;
    position: absolute;
    bottom: -120px;
}

main section.feature{
    background-color: white ;
    padding: 75px  0;
    position: relative;
}
main section.feature .text-left{
    direction: ltr;
}
main section.feature .features .d-flex{
    margin-bottom: 70px;
}
main section.feature .features .d-flex .flex-shrink-0 i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: white;
    background-color: #ef473a;
    text-align: center;
    display: block;
    border-radius: 2px;
}
section.feature .features .d-flex h5 {
    font-size: 24px;
    color: #080808;
    margin-bottom: 12px;
}

section.feature .features .d-flex p {
    font-size: 15px;
    line-height: 20px;
    color: #757474;
}

section.feature .feature-img img {
    width: 80%;
}

section.feature .features {
    margin-top: 90px;
}

