@font-face {
    font-family: "cairo-ragular";
    src: url(../font/Cairo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "cairo-ragular", sans-serif;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

nav.navbar {
    z-index: 15;
}
nav.navbar .navbar-brand img{
    width: 80%;
}
nav.navbar .navbar-nav .nav-item a.nav-link{
    font-size: 16px;
    color: #e8e8e8;
    line-height: 40px;
    padding: 0 16px;
}
nav.navbar .navbar-nav .nav-item a.nav-link:hover,
nav.navbar .navbar-nav .nav-item a.nav-link.active{
    background-color: #e8e8e8;
    color: #16aeca;
}
nav.navbar.noTransparrent{
    background-color: white;
    border: 1px solid #eee;
}
nav.navbar.noTransparrent .nav-item a.nav-item{
    color: #16aeca;
}
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link:hover,
nav.navbar.noTransparrent .navbar-nav .nav-item a.nav-link.active{
    color: #dfe44ec9;
    background-color: #16aeca;
}
nav.navbar.noTransparrent button.navbar-toggler{
    color: #16aeca;
}


header .overlay {
    background: linear-gradient(to right, rgba(46, 178, 181, 0.8), rgba(197, 203, 50, 0.8));
    min-height: 100vh;
}

header .overlay .carousel .carousel-item {
    min-height: 100vh;
    position: relative;
}

header .overlay .carousel .carousel-item .carousel-content {
    position: absolute;
    top: 40%;
    right: 15%;
    left: 15%;
    text-align: center;
    z-index: 10;
}

header .overlay .carousel .carousel-item .carousel-content h2 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 60px;
    color: #fff;
}

header .overlay .carousel .carousel-item .carousel-content a {
    padding: 13px 47px;
    background-color: #16aeca;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.5s ease;
}

header .overlay .carousel .carousel-item .carousel-content a:hover {
    background-color: #dae413;
    color: #555;
}

section.services {
    min-height: 700px;
}
section.services .services-title h3{
    padding-top: 75px;
    font-size: 40px;
}
section.services .container .card{
    margin-top: 50px;
    height: 330px;
    padding: 50px;
    margin-bottom: 20px;
    transition: all 1s ease-in-out;
}
section.services .container .card:hover {
    height: 400px;
}

section.services .container .card .card-block h4{
    padding: 25px ;
    font-size: 24px;
}
section.services .container .card .card-block p{
    font-size: 15px;
    text-align: 21px;
    color: #919191;
    opacity: 0;
    transition: all 1.5s ease;
}

section.services .card:hover .card-block p {
    opacity: 1;
}

section.gallery .gallery-title h3 {
    font-size: 40px;
    color: #070c0c;
    margin-bottom: 60px;
}

section.gallery .gallery-work a.gallery-link {
    position: relative;
    display: block;
}

section.gallery .gallery-work .gallery-link img {
    width: 100%;
}

section.gallery .gallery-work .gallery-link .gallery-hover {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    color: #fff;
    background-color: rgba(22, 174, 202, 0.9);
    z-index: 5;
    opacity: 0;
    transition: all 0.5s ease;
}

section.gallery .gallery-work .gallery-link .gallery-hover i {
    position: absolute;
    bottom: 50%;
    right: 50%;
    font-size: 36px;
    transform: translate(50%, 50%);
}

section.gallery .gallery-work .gallery-link:hover .gallery-hover {
    opacity: 1;
}

section.gallery .gallery-work .gallery-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    padding: 5% 10%;
    opacity: 0;
    margin-top: -100vh;
    transition: all 1s ease;
}

section.gallery .gallery-work .gallery-overlay:target {
    opacity: 1;
    margin-top: 0;
}

section.gallery .gallery-work .gallery-overlay .overlay-img img {
    width: 100%;
}

section.gallery .gallery-overlay .overlay-text {
    margin-top: 50px;
}

section.gallery .gallery-overlay .overlay-text h4 {
    font-size: 36px;
    line-height: 52px;
    color: #16aeca;
    margin-bottom: 30px;
}

section.gallery .gallery-overlay .overlay-text ul {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

section.gallery .gallery-overlay .overlay-text li a {
    color: #555;
    text-decoration: none;
    font-family: sans-serif;
}

section.gallery .gallery-overlay .overlay-text p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 50px;
    color: #919191;
}

section.gallery .gallery-overlay .overlay-text a.btn {
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    background-color: #16aeca;
    color: #fff;
}

section.gallery .gallery-overlay .overlay-text a.close {
    color: #16aeca;
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

section.statistics {
    background-image: url(../images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed ;
}
section.statistics .overlay {
    background-color: rgba(22, 174, 202, 0.8);
    padding: 140px 0 100px;
}

section.statistics .overlay .count {
    font-size: 40px;
    font-weight: bold;
    color: #ddfaff;
    margin: 50px auto 30px;
}

section.statistics .overlay span.counter {
    font-size: 18px;
    line-height: 22px;
    color: #85ecff;
}
