@font-face {
    font-family: "cairo-ragular";
    src: url(../font/Cairo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "cairo-ragular", sans-serif;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}
header .overlay{
    background: linear-gradient(to right,#59c1c4d3,#d1d55bc9);
    min-height: 100vh;
}