@font-face {
    font-family: "cairo-ragular";
    src: url(../font/Cairo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "cairo-ragular", sans-serif;
}

nav.navbar .navbar-nav li a.nav-link {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    border-radius: 2px;
    padding-right: 24px;
    padding-left: 24px;
    transition: all .5s ease;
}

nav.navbar .navbar-nav li a.nav-link:hover,
nav.navbar .navbar-nav li a.nav-link.active {
    color: #0575e6;
    background-color: #fff;
}

nav.navbar.noTransparent {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link {
    color: #0575e6;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link:hover,
nav.navbar.noTransparent .navbar-nav li a.nav-link.active {
    color: #fff;
    background-color: #0575e6;
}

header.header {
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 540px;
}

header.header .overlay {
    background-color: rgba(5, 117, 230, 0.9);
    color: white;
    max-width: 975px;
    padding: 40px 60px;
    transform: translateY(20%);
    margin: auto;
}

header.header .personel img {
    border: solid 4px #74ade8;
    border-radius: 50%;
    margin-bottom: 20px;
}

header.header .overlay h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #f9f9f9;
}

header.header .overlay h1 span {
    font-size: 24px;
}

header.header .overlay ul li a {
    font-size: 24px;
    color: #021b79;
}

header.header .overlay h2 {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

header.header .overlay p {
    font-size: 15px;
    line-height: 30px;
    color: #89c4ff;
    margin-bottom: 40px;
}

header.header .overlay a.cv {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 40px;
}

section.licence {
    padding: 200px 0 80px;
    background-color: #f6fbff;
}


section.licence .licence-title {
    padding-bottom: 30px;
    position: relative;
}

section.licence .licence-title h2 {
    font-size: 30px;
    line-height: 50px;
    color: #196dd1;
}

section.licence .licence-title h2::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #196dd1;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}


section.licence ul.timeline {
    padding-right: 0;
    padding-top: 45px;
    list-style: none;
    position: relative;
}

section.licence ul.timeline {
    display: block;
}

section.licence ul.timeline::before {
    content: "";
    width: 2px;
    height: 74%;
    position: absolute;
    top: 0;
    right: 50%;
    background: #196dd1;
    transform: translateX(50%);
}

section.licence ul.timeline li .timebox {
    border: solid 2px #f4f4f5;
    background-color: #fff;
    padding: 20px 25px;
    max-width: 45%;
    position: relative;
}

section.licence ul.timeline li .timebox h4 span {
    background-color: #0575e6;
    color: white;
    padding: 0 5px;
    border-radius: 2px;
    margin-left: 25px;
}

section.licence ul.timeline li .timebox h4 {
    font-size: 18px;
    line-height: 30px;
    color: #555;
}

section.licence ul.timeline li .timebox p {
    color: #b1b1b1;
    font-size: 15px;
    line-height: 22px;
}


section.licence ul.timeline li .timebox::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-left: 2px solid #f4f4f5;
    border-bottom: 2px solid #f4f4f5;
    top: 5%;
    left: -10px;
    transform: rotate(45deg);
}

section.licence ul.timeline li {
    position: relative;
    margin-bottom: -50px;
}

section.licence ul.timeline li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #196dd1;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translateX(50%);
}

section.licence ul.timeline li:nth-child(even) {
    direction: ltr;
    text-align: left;
}

section.licence ul.timeline li:nth-child(even) .timebox::after {
    border: 0;
    left: auto;
    right: -10px;
    border-right: 2px solid #f4f4f5;
    border-top: 2px solid #f4f4f5;
}

section.licence ul.timeline li:nth-child(even) .timebox h4 span {
    float: left;
    margin-left: 0;
    margin-right: 25px;
}

section.statistics {
    background-image: url(../images/bg-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section.statistics .overlay {
    background-color: rgba(5, 117, 230, 0.7);
    padding: 150px 0;
}

section.statistics .overlay .stat p {
    font-family: sans-serif;
    font-size: 24px;
    color: white;
    line-height: 30px;
    margin-top: 30px;
}

section.statistics .overlay .stat .circle canvas {
    background-color: #eef6ff;
    padding: 10px;
    border-radius: 50%;
}

section.statistics .overlay .stat .circle {
    position: relative;
}

section.statistics .overlay .stat .circle span {
    position: absolute;
    color: #0575e6;
    font-size: 24px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}