@font-face {
    font-family: "cairo-ragular";
    src: url(../font/Cairo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "cairo-ragular", sans-serif;
}

nav.navbar .navbar-nav li a.nav-link {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    border-radius: 2px;
    padding-right: 24px;
    padding-left: 24px;
    transition: all .5s ease;
}

nav.navbar .navbar-nav li a.nav-link:hover,
nav.navbar .navbar-nav li a.nav-link.active {
    color: #0575e6;
    background-color: #fff;
}

nav.navbar.noTransparent {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link {
    color: #0575e6;
}

nav.navbar.noTransparent .navbar-nav li a.nav-link:hover,
nav.navbar.noTransparent .navbar-nav li a.nav-link.active {
    color: #fff;
    background-color: #0575e6;
}

header.header {
    background-image: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 540px;
}

header.header .overlay {
    background-color: rgba(5, 117, 230, 0.9);
    color: white;
    max-width: 975px;
    padding: 40px 60px;
    transform: translateY(20%);
    margin: auto;
}

header.header .personel img {
    border: solid 4px #74ade8;
    border-radius: 50%;
    margin-bottom: 20px;
}

header.header .overlay h1 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #f9f9f9;
}

header.header .overlay h1 span {
    font-size: 24px;
}

header.header .overlay ul li a {
    font-size: 24px;
    color: #021b79;
}

header.header .overlay h2 {
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

header.header .overlay p {
    font-size: 15px;
    line-height: 30px;
    color: #89c4ff;
    margin-bottom: 40px;
}

header.header .overlay a.cv {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 40px;
}