*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: cairo;
    src: url(../font/Cairo-SemiBold.ttf);
}

body {
    direction: rtl;
    font-family: cairo;

}
header{
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center center;
}
header .brand{
    margin: 100px auto 50px auto;
    display: inline-block;
    padding-bottom: 35px;
    border-bottom: 5px solid #4e5d70;
}
header .heading-page h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
    line-height: 75px;
}
header .heading-page p{
    color: #acacac;
    font-size: 18px;
    line-height: 25px;
    width:40%;
    margin: auto;
}
header .count-down{
    width: 60%;
    margin: 90px auto;
}
header .counter{
    display: inline-block;
    margin: 0 15px;
}
header .count-amount{
    font-size: 60px;
    display: block;
    font-weight: bold;
    color: #ffce00;
}
header .count-period{
    font-size: 30px;
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 160px;
}

header .send-notification p{
    font-size:18px;
    color:white;
}
header .input-group{
    width: 60%;
    margin: auto;
    transform: translateY(30%);
}
header .send-notification .input-group button{
    background-color: #ffce00;
    padding: 13px 33px;
    border-radius: 0 ;
}
header .send-notification .input-group input{
    border-radius: 0;
    border:2px solid #c7c7c7;
    text-align: right;
    font-size: 18px;
}
.invalid-feedback{
    margin-bottom: -30px;
}